.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  align-self: end;
  max-width: 460px;
  transform: translateY(12px);
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 870px) {
  .place__title {
    max-width: 360px;
    font-size: 52px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    max-width: 100%;
    margin-bottom: 32px;
    font-size: 32px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    margin: 0 16px;
  }
}
