.lead__image {
  width: 95.5%;
  padding: 8% 2.25% 27.6%;
  background-image: url(../../../images/lead-polka.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 64px auto 0;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 425px) {
  .lead__image {
    margin-top: 40px;
  }
}
